$main-bg: linear-gradient(-90deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$red-gradiant: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
$red-darker: hsl(346, 77%, 35%);
$yellow-gradiant: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
$yellow-darker: hsl(28, 75%, 45%);
$blue-gradiant: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
$blue-darker: hsl(229, 65%, 46%);
$light-grey: hsl(229, 25%, 31%);
$font-barlow: 'Barlow Semi Condensed', sans-serif;
