.score-container {
  border-radius: 10px;
  background-color: #fff;
  float: right;
  text-align: center;
}

.score-container h4 {
  color: hsl(229, 64%, 46%);
  font-size: 12pt;
  letter-spacing: 0.1em;
  font-weight: lighter;
  margin: 15px 45px 0px 45px;
}

.score {
  color: hsl(229, 25%, 31%);
  font-size: 42pt;
  margin: 0px 0px 5px 0px;
}
